
#History-Container {
  -fx-spacing: 30;
  -fx-padding: 20;
  -fx-alignment: CENTER;
  -fx-border-color: BLACK;
}
#History-Display{
  -fx-border-color: transparent;
  -fx-pref-width: 75;
  -fx-pref-height: 400;
}