#Canvas{
  -fx-border-color: BLACK;
  -fx-border-radius:7;
  -fx-border-width:1.0;
  -fx-background-color: WHITE;
  -fx-padding: 50;
}

#Command-HBox{
  -fx-spacing: 20;
}
#Command-VBox{
  -fx-spacing: 30;
}

#Text-Box{
  -fx-pref-height: 100;
  -fx-pref-width: 500;
}

